
<mat-form-field class="example-full-width" style=" margin-right: 40px; ">
  <mat-label>Search</mat-label>
  <input matInput placeholder="Ex. XML schema" name="search" [(ngModel)]="search">
</mat-form-field>
<button mat-mini-fab color="warn" (click)="onSearch()">
  <mat-icon>search</mat-icon>

</button>


<div style=" margin-top: 40px; ">
  <mat-card style="margin-top:10px; width: 100%;" *ngFor="let obj of components;let i=index;">
    <mat-card-content>
      <mat-checkbox class="example-margin" [(ngModel)]="obj.isSelected"></mat-checkbox>
      <span id="file-label">{{obj.component_name}}</span>
    </mat-card-content>
  </mat-card>

</div>
<a #link [href]="url" style="display: none"></a>
<button mat-button color="warn" (click)="onBuild()">
  <mat-icon>build</mat-icon>
  Build
</button>

